<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Expenses</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
       <style type="text/css">
            label {
              width:100px;
            }
            
          
        </style>
</head>
<body>
	<h1>Modify</h1>
	<div>
		<form th:object="${expense}" th:action="@{/process}" action="#" method="get">
			
			<input type="hidden"th:field="*{id}"class="form-control"/>
		  	<label for="description">Description</label>
			<input type="text" id="description" th:field="*{description}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="price">Price</label>
			<input type="text" id="price" th:field="*{price}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="date">Date</label>
			<input placeholder = "dd-MM-yyyy" type="text" id = "date" th:field="*{expDate}" />
									
		  	
			<select id="category" th:field="*{category}" class="form-control">
			    
       			<option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
    		</select>
			
			<div style="clear: both; display: block; height: 10px;"></div>
			

			
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>